<!DOCTYPE html>
<html>
  <head>
    <title>PowerPercentile</title>
      <%= csrf_meta_tag %>
      <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
      <% javascript_include_tag(:application) %>
      <%= javascript_pack_tag    "application"                                    %>
      <%= stylesheet_pack_tag    "bootstrap"                                      %>
      <%= stylesheet_pack_tag    "main"                                           %>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
      <script src="https://d3js.org/d3.v5.min.js"></script>

      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

    <div class="headerBackground">
      <div class="instaBlock">
        <div id="widget">
          <div class="btn-o bg" data-scribe="component:button" style="width: 100%;">
            <a href="https://www.instagram.com/finlaym_pl/" class="btn" id="b">
              <i class="fa fa-instagram ft14">
              </i>
              <span class="label" id="l">
              </span>
            </a>
          </div>
        </div>
      </div>

      <div class="linkedinBlock">
        <div id="widget">
          <div class="btn-o bg" data-scribe="component:button" style="width: 100%;">
            <a href="https://www.linkedin.com/in/finlay-mercer-8b531813a/" class="btn" id="b">
              <i class="fa fa-linkedin ft14">
              </i>
              <span class="label" id="l">
              </span>
            </a>
          </div>
        </div>
      </div>

      <h1 class="headerTitle">
        POWERLIFTINGPERCENTILE
      </h1>
    </div>

  <body>
    <%= yield %>
  </body>
</html>
