<!DOCTYPE html>
<html>
  <head>
    <title>PowerPercentile</title>
      <%= csrf_meta_tag %>
      <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
      <% javascript_include_tag(:application) %>
      <%= javascript_pack_tag    "application"                                    %>
      <%= stylesheet_pack_tag    "bootstrap"                                      %>
      <%= stylesheet_pack_tag    "main"                                           %>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">

      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

    <div class="headerBackground">
      <h1 class="headerTitle">
        PowerliftingPercentile
      </h1>
    </div>

  <body>
    <%= yield %>
  </body>
</html>
